<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <body style="margin: 0;font-family: Tahoma;font-size: 1.2em;background-color: #ECF0F1;">
    <header style="padding: 1em;background-color: #34495E;margin-bottom: 1em;text-align: center;" class="text-center">
      <div style="max-width: 33.33%;" class="logo"><img src="{{logo}}"></div>
    </header>
    <div style="padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #2C3E50;" class="body">
      <h1 style="font-family: Palatino;font-size: 1.5em;">Hi, {{name}}</h1>
      <p style="color: #34495E;">Your email has been verified. We can now send you a link to reset your password if you ever need it.</p>
    </div>
  </body>
</html>