<!DOCTYPE html>
<html>

<body style="margin: 0;font-family: Tahoma;font-size: 1.2em;background-color: #ECF0F1;">
  <header style="padding: 1em;background-color: #34495E;margin-bottom: 1em;text-align: center;" class="text-center">
    <div style="max-width: 33.33%;" class="logo"><img src="{{logo}}"></div>
  </header>
  <div style="padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #2C3E50;" class="body">
    <h1 style="font-family: Palatino;font-size: 1.5em;">Hi, {{name}}</h1>
    <p>Your password was just reset.</p>
    <p style="color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;margin-top: 2em;" class="text-small margin-2">If you didn't request this change please</p>
    <p style="color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;" class="text-small"><a href="mailto:{{returnEmail}}?subject=I did not reset my password&body=Someone unauthorized sent this reset password request." style="color: #2980B9;">let us know</a></p>
  </div>
</body>

</html>